@import '../../styles/modal.scss';

.modal_content{
    border-radius: 0.6rem;
    gap: 2.4rem;
    display: flex;
    flex-direction: column;
    &.light{
        background-color: #FFFFFF;
    }
    &.dark{
        background-color: #2B2C37;
    }
}

.title{
    font-family: Plus Jakarta Sans;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0rem;
    &.light{
        color: #000112;
    }
    &.dark{
        color: #FFF;
    }
}

.label{
    font-family: Plus Jakarta Sans;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.8rem;
    position: relative;
    &.light{
        color: #828FA3;
    }
    &.dark{
        color: #FFF;
    }
}

.input{
    background-color: transparent;
    border: 0.1rem solid rgba(130, 143, 163, 0.25);
    border-radius: 0.4rem;
    padding: 0.75rem 1.5rem;
    font-family: Plus Jakarta Sans;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.3rem;
    &.light{
        color: #000112;
    }
    &.dark{
        color: #FFF;
    }
}

.textarea{
    height: 11.2rem;
    resize: none;
}

.delete{
    background-color: transparent;
    border: none;
    padding: 0rem;
    background-size: cover;
    background-position: 50% 50%;
    align-self: center;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
}

.inputContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1.6rem;
    position: relative;
    .input{
        width: 100%;
        margin-bottom: 0.4rem;
    }
    .error{
        top: 20%;
        right: 5rem;
    }
}

.error{
    color: #EA5555;
    font-family: Plus Jakarta Sans;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.3rem;
    position: absolute;
    margin: 0rem;
    top: 50%;
    right: 1rem;
}

.errorInput{
    border: 0.1rem solid #EA5555;
}

.addSubtask{
    color: #635FC7;
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.3rem;
    border-radius: 2rem;
    border: none;
    height: 4rem;
    &.light{   
        background-color: rgba(99, 95, 199, 0.10);
    }
    &.dark{
        background-color: #FFF;
    }
}

.select{
    font-family: Plus Jakarta Sans;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.3rem;
    background-color: transparent;
    padding: 0.9rem 1.6rem;
    border: 0.1rem solid rgba(130, 143, 163, 0.25);
    border-radius: 0.4rem;
    &.light{
        color: #000;
    }
    &.dark{
        color: #FFF;
    }
}

.option{
    color: #828FA3;
    font-family: Plus Jakarta Sans;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.3rem;
    border-radius: 0.8rem;
}

.buttonSave{
    width: 100%;
    border-radius: 2rem;
    background-color: #635FC7;
    color: #FFF;
    height: 4rem;
    border: none;
    font-family: Plus Jakarta Sans;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.3rem;
}

@media screen and (min-width: 992px){
    .modal{
        cursor: auto;
    }

    .input:hover{
        cursor: pointer;
        border: 0.1rem solid #635FC7;
    }

    .addSubtask:hover{
        cursor: pointer;
        &.light{
            background-color: rgba(99, 95, 199, 0.25);
        }
    }

    .buttonSave:hover{
        cursor: pointer;
        background-color: #A8A4FF;
    }

    .select:hover{
        cursor: pointer;
        border: 0.1rem solid #635FC7;
    }
}