.modal {
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 2rem 0rem;
}

.modal.app {
  padding: 0rem;
}

.modal_content {
  background-color: #fefefe;
  margin: auto;
  padding: 2.4rem;
  border-radius: 0.6rem;
  width: 91.4666666667vw;
  max-width: 48rem;
}

@media screen and (min-width: 768px) {
  .modal_content {
    padding: 3.2rem;
  }
}

.modal_content {
  padding: 2.4rem;
}

.modal_content.light {
  background-color: #FFFFFF;
}

.modal_content.dark {
  background-color: #2B2C37;
}

.title {
  font-family: Plus Jakarta Sans;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0rem 0rem 2.4rem 0rem;
}

.title.light {
  color: #000112;
}

.title.dark {
  color: #FFF;
}

.label {
  font-family: Plus Jakarta Sans;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.8rem;
  position: relative;
}

.label.light {
  color: #828FA3;
}

.label.dark {
  color: #FFF;
}

.input {
  background-color: transparent;
  border: 0.1rem solid rgba(130, 143, 163, 0.25);
  border-radius: 0.4rem;
  padding: 0.75rem 1.5rem;
  font-family: Plus Jakarta Sans;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.3rem;
  width: 100%;
}

.input.light {
  color: #000112;
}

.input.dark {
  color: #FFF;
}

.input.errorInput {
  border: 0.1rem solid #EA5555;
}

.containerColumns {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.6rem;
  margin-bottom: 0.4rem;
  position: relative;
}

.containerColumns .error {
  top: 20%;
  right: 4.5rem;
}

.delete {
  background-color: transparent;
  border: none;
  padding: 0rem;
  background-size: cover;
  background-position: 50% 50%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}

.buttonAdd, .buttonCreate {
  border-radius: 2rem;
  height: 4rem;
  width: 100%;
  font-family: Plus Jakarta Sans;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.3rem;
  border: none;
}

.buttonAdd {
  color: #635FC7;
}

.buttonAdd.light {
  background-color: rgba(99, 95, 199, 0.1);
}

.buttonAdd.dark {
  background-color: #FFF;
}

.buttonCreate {
  background-color: #635FC7;
  color: #FFF;
}

.formContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.4rem;
}

.error {
  color: #EA5555;
  font-family: Plus Jakarta Sans;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.3rem;
  position: absolute;
  margin: 0rem;
  top: 50%;
  right: 1rem;
}

@media screen and (min-width: 992px) {
  .input:hover {
    cursor: pointer;
    border: 0.1rem solid #635FC7;
  }
  .buttonAdd:hover {
    cursor: pointer;
  }
  .buttonAdd:hover.light {
    background-color: rgba(99, 95, 199, 0.25);
  }
  .buttonCreate:hover {
    cursor: pointer;
    background-color: #A8A4FF;
  }
}
/*# sourceMappingURL=AddBoard.module.css.map */